body{
  text-align: center;
  padding-top: 312px;
  }

  #background {
    background: #867B2E;
  }

  span{
    font-family: monospace;
    font-size: 80px;
    color: #FFF;
    font-weight:bold;
  }


  #progressBar {
    text-align: center;
    width: 50%;
    background-color: white;
  }
